
html {
  padding: 10px 30px;
}

body {
  background-color: #fafafa;
  border: solid;
  border-color: #a7a7a7;
  padding: 20px 20px;
  color: black;
  font-family: "Raleway", sans-serif;
  max-width: 1200px;
}

h2 {
  width: 95%;
  padding: 5px 5px;
  background-color: #a7a7a7;
  font: normal "Quicksand";
}

/* Header */

.header {
  text-align: center;
}

.header_title {
	font: italic bold 4em "Sacramento", cursive;
  color: orange;
  margin: 20px auto;
  display: inline-block;
}

.header__logo {
  height: 50px;
  width: 50px;
  padding-right: 15px;
  display: inline-block;
}

.header_subtitle {
  font-style: italic;
  margin: 0 auto;
}

/* Data Visualizations */

.flex_img_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 95%;
}

.china, .hudson, .sex {
  padding: 5px 10px;
  display: inline-block;
  margin: 0 auto;
}

/* About Me */

.about_subtitle {
  display: flex;
  flex-direction: row;
  width: 95%;
}

.intro_pic {
  padding: 10px 10px;
  border-radius: 70px;
  order: 0;
}

.par_container {
  flex-direction: column;
}

.par_1 {
  order: 1;
  width: 95%;
}

.par_2 {
  order: 2;
  width: 95%;
}

.par_3 {
  order: 3;
  width: 95%;
}

/* Footer */

footer {
  font-size: 13px;
  color: #4c4c4c;
}

/* Media Queries */

@media screen and (max-width: 484px) {
  
  .header__logo {
    height: 30px;
    width: 30px;
    padding-right: 10px;
  }
  
  .header_title {
    font-size: 2.5em ; /*shorthand? */
  }
  
  .china, .hudson, .sex {
    padding: 5px 5px;
    width: 100%;
  }
}

@media screen and (max-width: 862px) {

  .intro_pic {
    float: left;
    display: inline-block;
    padding: 10px 10px;
    height: 100px;
    width: 100px;
    border-radius: 70px;
  }
  
  .about_subtitle {
    display: inline-block;
    width: 95%;
  }
}

@media screen and (max-width: 1215px) {
  
  .china, .hudson, .sex {
    height: 200px;
  }
}
